<% provide(:title, "Nová společnost") %>

<div class="row">
	<h1>Nová společnost</h1>
	<%= render 'form_company' %>
</div>

<div class="row">
	<%= link_to "zpět na seznam společností", companies_path %>
</div>